<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-nr-min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css"/>
    <style>
      [class^="pure-u-"] {
        margin: auto;
      }
      .full-width {
        width: 100%;
        position: relative;
      }
      .full-width input {
        width: 100%;
      }
      .block {
        display: block !important;
      }
      .center {
        margin: auto !important;
      }
      body {
        line-height: 1.5;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
      }
      body a {
        transition: color 200ms;
        color: #08c;
        text-decoration: none;
      }
      body a:active {
        outline: 0;
      }
      body a:hover {
        color: #005580;
      }
      main {
        margin-top: 50px;
      }
      #main-wrapper {
        margin: auto;
        max-width: 850px;
      }
      #view-wrapper {
        box-sizing: border-box;
        padding: 0 25px;
      }
      .entry-text, .entry-link {
        font-size: 22px;
      }
      .entry-text {
        margin-top: 0px;
      }
      .pure-menu-horizontal {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: auto;
        max-width: 1000px;
        background-color: white;
        border-bottom: 1px solid #e5e5e5;
        z-index: 1000;
      }
      .pure-menu-list {
        float: right;
      }
      .pure-button {
        border-radius: 4px;
      }
      .button-success,
      .button-error,
      .button-warning,
      .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }
      .button-success {
        background: rgb(28, 184, 65); /* green */
      }
      .button-error {
        background: rgb(202, 60, 60); /* maroon */
      }
      .button-warning {
        background: rgb(223, 117, 20); /* orange */
      }
      .button-secondary {
        background: rgb(66, 184, 221); /* light blue */
      }
      .button-margin-left {
        margin-left: 25px;
      }
      entry-list .entry-preview {
        margin: 25px 0;
      }
      entry-list .entry-preview .entry-text {
        margin-left: 10px;
      }
      entry-view h1 {
        text-align: center;
      }
      entry-view h1 span {
        font-size: 18px;
        vertical-align: middle;
      }
      pre {
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
      textarea.entry-text {
        width: 100%;
        height: 350px;
        -webkit-overflow-scrolling: touch;
      }
      input[name="date"] {
        font-size: 22px;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
      }
      form.form-submit-only {
        display: inline-block;
      }
    </style>
  </head>
  <body>

    <div id="main-wrapper">

      <div id="view-wrapper">

        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/entries" class="pure-menu-link">Entries</a></li>
              <li class="pure-menu-item"><a href="/entry/new" class="pure-menu-link">New Entry</a></li>
              <li class="pure-menu-item">
                <form method="get" action="/user/logout">
                  <input type="submit" value="Logout" class="pure-menu-link"/>
                </form>
                <!-- <a href="/" class="pure-menu-link">Logout</a> -->
              </li>
          </ul>
        </div>

        <main><%- tag %></main>

        <br/><br/>
        <p>Check out the code <a href="https://github.com/jpodwys/riot-progressive-enhancement">here!</a></p>

      </div>

    </div>

    <script>
      if('querySelector' in document
          && 'localStorage' in window
          && 'addEventListener' in window
          && 'history' in window && history.pushState){
        var scripts = [
          {src: '/js/bundle.js', type: 'text/javascript', priority: 'defer'}
        ];
        for(var i = 0; i < scripts.length; ++i){
          var script = scripts[i];
          var tag = document.createElement('script');
          if(script.priority) tag.setAttribute(script.priority, '');
          tag.setAttribute('src', script.src);
          tag.setAttribute('type', script.type);
          document.getElementsByTagName('head')[0].appendChild(tag);
        }
      }
    </script>
  </body>
</html>
